/* trending section */

.trending{
    margin: 60px;
}

.trending h2{
    color: #930893;
    font-weight: bold;
}

.trending .trendimgcontainer{
    text-align: center;
}

.trending .trendimg{
    position: relative;
    width: 80%;
    height: 90%;
    border-radius: 20px;
}

.book_btn{
    margin-top: 10px;
    color: white;
    background: #6D004F;
    border: none;
}

.book_btn:hover{
    color: white;
    background: #6D004F;
}

.book_btn:focus:active{
    background: white;
    color: #6D004F;
}


/* link seciton */

.event_filter_section{
    background: #6D004F;
    padding: 40px;
    text-align: center;
    height: 120px;
}

.event_filter_section .eventfilter_btn{
    border-color: white;
    border: 2px solid;
    color: white;
    background: #6D004F;
    border-radius: 20px;
    width: 10%;
    margin-right: 30px;
}

.eventfilter_btn:focus{
    font-weight: bold;
    color: #6D004F;
    background: white;
}

.eventfilter_btn:focus:active{
    font-weight: bold;
    color: #6D004F;
    background: white;
    border: none;
}


/* events section */

.evnt_list{
    text-align: center;
}

.event_ticket{
    width: 75%;
    height: 90%;
    padding: 20px;
}

.see_more, .buy_ticket{
    color: #6f016f;
    background: none;
    border: #6f016f 1px solid;
    margin: 0 20px 50px;
    font-weight: bold;
}

.see_more:hover, .buy_ticket:hover{
    color: white;
    background: #6f016f;
    border: 1px solid;
}

.see_more:focus:active, .buy_ticket:focus:active{
    color: none;
    background: none;
}