body{
    font-family: sans-serif;
}

.home_pic{
    position: relative;
}

.picture{
    width: 100%;
    height: 4062.5%;
}

.create_btn{
    top: 90%;
    left: 89%;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.create_btn, .more_btn{
    border: none;
    border-radius: 50px;
    padding: 10px;
}

.create_btn:focus:active, .more_btn:focus:active{
    color: #6D004F;
    background: white;
}



/* package section css */

.home_pack h2{
    color: #6D004F;
}

.home_pack{
    margin: 0;
    max-width: 2000px;
    padding-top: 20px;
    text-align: center;
    max-height: 700px;
    /* background: #B4829F; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px -50px 36px -28px inset;
}

.home_pack .picture{
    margin-top: 25px;
    width: 80%;
    height: 80%;
    border-radius: 5px;
}

.home_pack .more_btn{
    margin-bottom: 30px;
}

/* icon section css */

.home_icons{
    max-height: 50%;
    padding: 5%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    max-width: 2000px;
}

.home_icons h2{
    color: #6D004F;
    margin: 0 0 5% ;
}

.home_icons .icon{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    color: #565656;
    padding: 15%;
    font-size: 300%;
    border-radius: 50px;
}

.home_icons h4{
    color: #B4829F;
    margin-top: 50px;
}

.h_icon{
    margin-right: -12px;
    transition: all .2s ease-in-out; 
}

.h_icon:hover { 
    transform: scale(1.1); 
}

/* homefooter section css */

.homefooter{
    margin: 0;
    background: #6D004F;
    color: white;
    text-align: center;
    height: 25%;
    padding: 2.5%;
    max-width: 2000px;
}

.homefooter .logo{
    margin-top: 50px;
    display: flex;
}

.homefooter .logo p{
    margin-top: 4%;
}

.homefooter .picture{
    width: 200px;
    height: 80px;
}

.homefooter h4{
    margin-bottom: 30px;
    color: white;
}

.homefooter .contact{
    text-align: left;
    line-height: 35px;
    padding-left: 65px;
}

.homefooter .icon{
    text-decoration: none;
    color: white;
}

.homefooter .SIcon{
    color: #6D004F;
    border-radius: 50%;
    background: white;
    font-size: 30px;
    padding: 5px;
    margin: 3.5%;
}