.package_blogs{
    text-align: center;
    margin: 2% 4%;
}

.package_blogs .col-sm-4{
    margin-bottom: 50px;
    height: 500px;
}

.pack_holder{
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card{
    height: 100%;
}


.card-img-top{
    height: 40%;
}

.cardDescription{
    text-align: left;
}

.btn-primary{
    border: none;
    background: none;
}

.view_btn{
    border: none;
    border-radius: 40px;
    width: 45%;
}

.view_btn:focus:active{
    color: #6D004F;
    background: white;
}

