.package_blogs{
    text-align: center;
}

.pack_holder{
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.view_btn{
    background: #6f016f;
    color: white;
    border: none;
    border-radius: 40px;
    width: 100px;
}

.view_btn:hover{
    background: #6f016f;
}