.predefined_pack_container{
    display: flex;
    width: 100%;
}

.predefined_preference_list{
    margin-left: 6%;
}

.prefContainer{
    width: 85%;
}

.prefContainer .title_container{
    width: 75%;
    margin-left: 15%;
}

.prefContainer .form_container{
    border: 1px solid #474646;
    border-radius: 5px;
    margin: 5% 5% 5% 12%;
    padding: 5%;
}

.packList{
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}
