.profile_body{
    margin: 20px;
}

/* profile heading */

.profile_heading {
    display: flex;
    margin: 30px 20px;
    align-items: center;
}

.profimg_containe{
    width: 30%;
}

.profile_img{
    margin-left: 30%;
    width: 55%;
}

.blockLink {
    margin-left: 10%;
} 

.spblockpreference_btn{
    background: white;
    border: none;
}

.spblockpreference_btn:focus:active{
    background: none;
}


/* profile body */

.profile_body{
    margin-top: 60px;
    margin-left: 10%;
}

/* left, right column */

.right_column{
    margin-left: -10%;
}

.personal, .business{
    margin-left: 5%;
}

.profedit_btn{
    margin-left: 40%;
    margin-top: 5%;
    width: 15%;
    border: none;
}
