.profile_body{
    margin: 20px;
}

/* profile heading */

.profile_heading {
    display: flex;
    margin: 30px 20px;
    align-items: center;
}

.profimg_containe{
    width: 30%;
}

.profile_img{
    margin-left: 30%;
    width: 55%;
}

.blockLink {
    margin-left: 10%;
} 

.spblockpreference_btn{
    background: white;
    border: none;
}

.spblockpreference_btn:focus:active{
    background: none;
}


/* profile body */

.profile_body{
    margin-top: 60px;
}

/* left column */

.left_column{
    margin-left: 10px;
}

.personal, .business{
    margin-left: 30px;
}


.profedit_btn{
    margin-left: 60%;
    width: 50px;
    border: none;
}

/* vertical line */

.vertical {
    border-left: 2px solid black;
    height: 80%;
    position:absolute;
    margin-left: -10%;
    width: 10px;
}

/* right column */


.right_column p{
    margin-left: 30px;
}

.right_images .optionimg{
    width: 80%;
}

.right_column .addmore_btn{
    background: #6D004F;
    color: white;
    border: none;
    margin: 30px 35%;
}

.profedit_btn:focus:active, .addmore_btn:focus:active{
    color: #6D004F;
    background: white;
}