.profile_body{
    margin: 20px;
}

/* profile heading */

.profile_heading {
    display: flex;
    margin: 30px;
    margin-left: 250px;
    align-items: center;
}

.profimg_containe{
    width: 300px;
    height: 220px;
    margin-right: 8%;
}

.profile_img {
    width: 300px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
  }

.blockLink {
    margin-left: 10%;
} 

.spblockpreference_btn{
    background: white;
    border: none;
}

.spblockpreference_btn:focus:active{
    background: none;
}


/* profile body */

.profile_body{
    width: 80%;
    margin-top: 60px;
    margin-left: 25%;
}

/* left, right column */

.personal, .business{
    margin-left: 5%;
}

.profedit_btn{
    margin-left: 40%;
    margin-top: 5%;
    width: 15%;
    border: none;
}
