
.createEvent_PageContainer{
    width: 100%;
    background-color: black;
}

.createEvent_FormContainer{
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}