.compare-table {
    border-collapse: collapse;
    width: 90%;
    margin: 2% 5%;
}

.compare-table-header,
.compare-table-data {
    padding: 4px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.compare-table-data {
    color: black;
    font-weight: 300;
    background-color: #b8a8b7;
}

.compare-table-header {
    background-color: #f2f2f2;
}

.compare-title {
    text-align: center;
    padding: 10px;
}

.compare-addEvent-btn {
    background-color: rgb(62, 165, 140);
}