.eventdeatils-container{
    width: 100%;
    display: flex;
}

.eventProfile-container{
    width: 250px;
    background-color: #fff4ff;
    min-height:93.5vh;
    padding:10px;
}


.event-image-container{
    width: 100%;
    margin-top: 50px;
    border-radius: 2rem;
    height: 150px;
}

.event-image-container img{
    border-radius: 0.5rem;
    height: 150px;
}

.event-description-container{
    width: 230px;
    height: auto;
    padding: 15px;
    border-radius: 0.5rem;
    margin-top: 100px;
    min-height: 100px; 
    background-color: white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.event-namedate-container{
    width: 230px;
    height: auto;
    padding: 15px;
    margin-top: 10px;
    border-radius: 0.5rem; 
    background-color: #FFEADD;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}


.eventTodo-list-container{
    width: 100%;
    margin-left: 10%;
    padding-top: 20px;
}