.s-title {
    color: #723d7f;
    font-weight: bold;
    padding-left: 20px;
}

.s-para {
    color: black;
    font-weight: bold;
    padding-left: 25px;
}

.chat-img{
    width: 50vh;
}

.chat-img2{
    width: 150vh;
}

.chat-img3{
    width: 60vh;
    margin-left: 0px;
    margin-top: 0px;
}

.chat-img4{
    width: 60vh;
    margin-left: 120px;
    margin-top: -50px;
}

.chat-img5{
    width: 96%;
    height: 70px;


}

.k-chat-box{
    background-color: #c7aec6a6;
    list-style: none;
    padding: 10px 10px 10px 10px;
    width:40%;
    border-radius: 5%;
    margin-left: 650px;
    margin-top: 400px;
}
/***************************** BirthdayDes ***************************/

.b-container{
    /* border: 2px solid purple; */
    height: 500px;
    margin: 20px 50px;
    width: 1200px;
}

.b-img{
    height: 200px;
    width: 40%;
    margin-left: 30%;
}
.b-pcg-img{
    margin-left: 30px;
}

.b-description{
    margin: 50px;
}

.b-container{
    margin-bottom: 400px;
}

.popup-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    width: 40%;
    height: 30%;
    text-align: center;
    font-size: 20px;
}

.compare-btns{
    margin: 25px;
}
.compare-btns-2{
    margin: 25px;
    background-color: rgb(62, 165, 140);
}

.compare-btns-2:hover{
    background-color: rgb(143, 175, 167);
}
.pckg-name{
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    margin-bottom: 0px;
}

.pckg-search-bar{
    width: 300px;
    margin-top: 20px;
}

.location-dropdown{
    margin: 20px 70px;
    background-color: rgb(79, 78, 80);
}

.all-text{
    background-color: rgb(79, 78, 80);
    height: 50px;
    margin-top: 15px;
    color: white;
  
}

.pckg-header{
    text-align: center;
}